<div class="row">
	<div class="col-md-2 border-rt">
		<p class="header">Users List</p>
		<!-- <p *ngIf="localUser">{{localUser.email}}</p> -->
		<div class="pointer user-row"  *ngFor="let user of users" (click)="selectUser(user)">
			<span *ngIf="user.isOnline==='yes'" class="glyphicon glyphicon-eye-open"></span>
			<span *ngIf="user.isOnline==='no'" class="glyphicon glyphicon-eye-close"></span>
			<span *ngIf="user.isOnline==='away'" class="glyphicon glyphicon-eye-open away"></span>
			<span>{{user.firstName}}</span>
			<span>{{user.lastName}}</span>
			<span *ngIf="user.ping" class="ping-nums">{{user.ping}}</span>
		</div>	
	</div>
	<div class="col-md-8 col-md-offset-1">
	<!-- <p>userToChat : {{userToChat.email}}</p> -->
		<app-chat-box [user]="userToChat" [me]="localUser" *ngIf="userToChat"></app-chat-box>
	</div>
</div>
<audio id="chatAudio" >
  <source src="/audio/ping.mp3" type="audio/ogg">
Your browser does not support the audio element.
</audio>